---
import { getSettings } from "@/lib/settings";
import { generateTelUrl } from "@/utils/contact";

const settings = await getSettings();
const phone = settings.phone;
const phoneLink = generateTelUrl(phone);
---

<a
    href={phoneLink}
    class="font-bold text-primary hover:underline whitespace-nowrap"
>
    {phone}
</a>
